<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Resume
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">My Resume</li>
            </ol>
        </div>

    </div>

    <div class="row" id="resumeHolder">
        <div class="col-lg-lg text-center" id="resumeButtonContainer">
            <a href="/imgs/DBasinskiResume.docx" download id="resumeLink">Download Resume</a>
        </div>
        <div class="text-center">
            <iframe src="https://docs.google.com/document/d/1aPY09_AmboPEdmXkeypKyB_8l9BTv291EY6ERjQbQoM/pub?embedded=true"></iframe>
        </div>

</div>
<!-- /.container -->

