<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Resume
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">My Resume</li>
            </ol>
        </div>

    </div>

    <div class="row" id="resumeHolder">
        <div class="col-lg-lg text-center" id="resumeButtonContainer">
            <a href="https://drive.google.com/uc?export=download&id=0By_pRE6plhKrSUwyN3hVZy1Bc2c" download id="resumeLink">Download Resume</a>
        </div>
        <div class="col-lg-lg text-center">
            *Resume preview format different from actual copy
        </div>
        <div class="text-center">
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vQyH5PKdLqUQiVlUo9gTZadsLQ9gUc4i10ED3xXMvM3or2IZri573USvyVPm5asMhRX-6w8NrFyvJbY/pub?embedded=true"></iframe>
        </div>
    </div>
</div><!-- /.container -->

