<footer>
    <nav class="navbar ng-scope">
    <div class="container">
        <div class="row" id="contactSection">
            <div class="page-header"></div>
            <div class="col-sm-8">
                <h3>Let's Get In Touch!</h3>

                <p>If you have any advice, tips, or just want to get a hold of me please use one of the methods listed to the right.</p>

            </div>

            <div class="col-sm-4">
                <h3>Daniel Basinski</h3>
                <h4>Front End Developer</h4>

                <p>
                    37078 Elm ST<br>
                    Fremont, CA 94536<br>
                </p>

                <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (847) 922-5187</p>

                <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a
                        href="mailto:dbasinsk@gmail.com">dbasinsk@gmail.com</a></p>

                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/d488b" target="_blank" data-toggle="tooltip"
                                                                data-placement="top" title="Facebook"><i
                            class="fa fa-facebook-square fa-2x"></i></a></li>
                    <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/dan-basinski-69a45a79
" target="_blank" data-toggle="tooltip"
                                                                data-placement="top" title="LinkedIn"><i
                            class="fa fa-linkedin-square fa-2x"></i></a></li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

    </div>
    </nav>
</footer>
